<footer>
    <table width="100%" style="border-collapse: collapse; background-color: rgba(0, 0, 0, 0.8); color: #fff;">
        <tr>
            <td>&copy; 2025 Black Secrets. All rights reserved.</td>
            <td>
                <a href="https://www.facebook.com/61556445512513" target="_blank"><img src="images/facebookLinkImageSmall.png" alt="Facebook" class="logo"></a>
                <a href="https://www.youtube.com/@BlackSecretsBand" target="_blank"><img src="images/youtubeLinkImageSmall.png" alt="Youtube" class="logo"></a>
            </td>
        </tr>
    </table>
</footer>
