207   <section id="gallery">
207     <h2>Gallery</h2>
208     <div class="gallery2">
209       <img src="images/gallery/thumbs/Backseat2025 (3) thumb.jpg" alt="Image 1" onclick="openModal('modal1')">
210       <img src="images/gallery/thumbs/Backseat2025 (4) thumb.jpg" alt="Image 1" onclick="openModal('modal2')">
211       <img src="images/gallery/thumbs/Backseat2025 (8) thumb.jpg" alt="Image 1" onclick="openModal('modal3')">
212       <img src="images/gallery/thumbs/Backseat2025 (1) thumb.jpg" alt="Image 1" onclick="openModal('modal4')">
213
214       <img src="images/gallery/thumbs/Backseat2024 (2) thumb.jpg" alt="Image 1" onclick="openModal('modal5')">
215       <img src="images/gallery/thumbs/Backseat2024 (3) thumb.jpg" alt="Image 1" onclick="openModal('modal6')">
216       <img src="images/gallery/thumbs/Backseat2024 (4) thumb.jpg" alt="Image 1" onclick="openModal('modal7')">
217       <img src="images/gallery/thumbs/Backseat2024 (5) thumb.jpg" alt="Image 1" onclick="openModal('modal8')">
218
219       <img src="images/gallery/thumbs/Backseat2025 (21) thumb.jpg" alt="Image 1" onclick="openModal('modal9')">
220       <img src="images/gallery/thumbs/Backseat2025 (22) thumb.jpg" alt="Image 1" onclick="openModal('modal10')">
221
222       <img src="images/gallery/thumbs/LaurenPix (15) thumb.jpg" alt="Image 1" onclick="openModal('modal11')">
223       <img src="images/gallery/thumbs/LaurenPix (28) thumb.jpg" alt="Image 1" onclick="openModal('modal12')">
224     </div>
225
226     <div id="modal1" class="modal">
227       <span class="close" onclick="closeModal('modal1')">&times;</span>
228       <img class="modal-content" src="images/gallery/Backseat2025 (3).jpg">
229     </div>
230     <div id="modal2" class="modal">
231       <span class="close" onclick="closeModal('modal2')">&times;</span>
232       <img class="modal-content" src="images/gallery/Backseat2025 (4).jpg">
233     </div>
234     <div id="modal3" class="modal">
235       <span class="close" onclick="closeModal('modal3')">&times;</span>
236       <img class="modal-content" src="images/gallery/Backseat2025 (8).jpg">
237     </div>
238     <div id="modal4" class="modal">
239       <span class="close" onclick="closeModal('modal4')">&times;</span>
240       <img class="modal-content" src="images/gallery/Backseat2025 (1).jpg">
241     </div>
242
243     <div id="modal5" class="modal">
244       <span class="close" onclick="closeModal('modal5')">&times;</span>
245       <img class="modal-content" src="images/gallery/Backseat2024 (2).jpg">
246     </div>
247     <div id="modal6" class="modal">
248       <span class="close" onclick="closeModal('modal6')">&times;</span>
249       <img class="modal-content" src="images/gallery/Backseat2024 (3).jpg">
250     </div>
251     <div id="modal7" class="modal">
252       <span class="close" onclick="closeModal('modal7')">&times;</span>
253       <img class="modal-content" src="images/gallery/Backseat2024 (4).jpg">
254     </div>
255     <div id="modal8" class="modal">
256       <span class="close" onclick="closeModal('modal8')">&times;</span>
257       <img class="modal-content" src="images/gallery/Backseat2024 (5).jpg">
258     </div>
259
260     <div id="modal9" class="modal">
261       <span class="close" onclick="closeModal('modal9')">&times;</span>
262       <img class="modal-content" src="images/gallery/Backseat2025 (21).jpg">
263     </div>
264     <div id="modal10" class="modal">
265       <span class="close" onclick="closeModal('modal10')">&times;</span>
266       <img class="modal-content" src="images/gallery/Backseat2025 (22).jpg">
267     </div>
268
269     <div id="modal11" class="modal">
270       <span class="close" onclick="closeModal('modal11')">&times;</span>
271       <img class="modal-content" src="images/gallery/LaurenPix (15).jpg">
272     </div>
273     <div id="modal12" class="modal">
274       <span class="close" onclick="closeModal('modal12')">&times;</span>
275       <img class="modal-content" src="images/gallery/LaurenPix (28).jpg">
276     </div>
277
278   </section>

