<header style="text-align: center; padding: 30px 20px; background: rgba(0, 0, 0, 0.65); max-width: 1000px !important; margin: 0 auto !important; width: 100% !important;">
    <img src="images/bsLogoColorTransparent.gif" alt="Black Secrets Logo" class="imagecontainer">
    <p><img src="images/bsNameColorTransparent.png" alt="Black Secrets Name" class="imagecontainer"></p>
    <p><img src="images/ATributeToAliceInChainsEaterFontTransparant.png" alt="A Tribute to Alice in Chains" class="imagecontainer"></p>
</header>
